//blue
$lightBlue: #abebff;
$darkBlue: #6054ff;
//gray
$lightGray:#c8c8c8;
$darkGray:#535353;
//hover
$mapHover: #b6fffb;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container { 
    width: 100%;
    min-width: 861px;
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    background: linear-gradient($lightBlue, $darkBlue);
}

.guide {
    width: 400px;
    position: absolute;
    top: 20px;
    left: 20px;
    opacity: 0.8;
}

@media screen and (max-width: 1626px) {
    .guide {
        width: 240px;
    }
}

.map {
    padding: 41px 0;

    path:hover {
        fill: $mapHover;
    }
}

svg {
    width: 800px;
    height: 800px;
}

.weather-card {
    width: 300px;
    height: 500px;
    margin: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient($lightGray, $darkGray);
    opacity: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 25px #00000060;
    position: relative;
    transition: opacity 1s;

    @media screen and (max-width: 1243px) {
        position: absolute;
        top: 200px;
        left: calc(50% - 186px);
        pointer-events: none;
    }

    .weatherImg {
        width: 300px;
        height: 100px;
        object-fit: contain;
    }

    p {
        font-weight: bold;
    }

    .ghost2 {
        width: 25px;
        height: 25px;
        position: absolute;
        top: -10px;
        left: -5px;
    }

    .ghost {
        width: 250px;
        height: 187.5px;
        position: absolute;
        top: 80%;
        left: 50%;
    }

    .close-btn {
        width: 50px;
        height: 50px;
        background-color: $darkGray;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 10px;
        transition: background-color 0.3s;

        &:hover {
            background-color: white;
        }

        span {
            width: 40px;
            height: 10px;
            background-color: black;
            position: absolute;
            top: 50%;
            left: 50%;
        }

        .span1 {
            transform: translate(-50%, -50%) rotate(45deg);
        }

        .span2 {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }
}

.display {
    opacity: 0.8;
    pointer-events: visible;

    @media screen and (max-width: 1243px) {
        opacity: 1;
    }
}

.wrap {
    background: url(../img/雨アニメーション素材.gif);
    background-size: cover;
    background-position: center;
}

.wrap2 {
    background: url(../img/桜吹雪素材.gif);
    background-size: cover;
    background-position: center;
}

footer {
    width: 100%;
    background-color: #e4e2ff;

    .cr {
        margin: 0;
        padding: 10px 0;
        text-align: center;
    }
}